.a1{
    width: 250px;
    height: 400px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0.2),0 6px 20px 0 rgba(0,0,0.2);
    margin:20px;
    float: left;
    border-style: double;
    background-color: white;
    width:250px;
    height:400px;
}
.a2{
    width: 250px;
    height: 400px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0.2),0 6px 20px 0 rgba(0,0,0.2);
    margin:20px;
    float: left;
    border-style: double;
    background-color: white;
    width:250px;
    height:400px;
}
body{
    background-image: url("marching.jpg")
}
h1{
    color: yellow;
    background:black;
    width:300px;
}